@using RavenDesk.MVC.Helpers
@model RavenDesk.MVC.Models.Authors.AuthorFormModel
@{Layout = null;}
<script type="text/javascript">
    $(function () {
        $("#ddlAddBook, #ddlAddCharacter").change(function () {
            Wait(true);
            $.post('@Url.Content("~/Authors/AddRelationship")',
                { authorId: '@Model.Id', realtedId: $(this).val() }, function (data) {
                    $("#related-objects-wrapper").html(data);
                    Wait(false);
            });
        });
        
        $(".remove-link").ajaxlink("post", function (data) {
            $("#related-objects-wrapper").html(data);
        });
    });
</script>

<div class="well">
    <b>Books</b>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>@book.Title <a class="remove-link" 
                href="@Url.Content("~/Authors/RemoveRelationship/")?authorId=@Model.Id&realtedId=@book.Id">[Remove]</a></li>
        }
    </ul>
    @Html.EditDataField("Add Book", Html.DropDownList("ddlAddBook", Model.BookAssoiationOptions))
</div>
<div class="well">
    <b>Characters</b>
    <ul>
        @foreach (var character in Model.Characters)
        {
            <li>@character.Name <a class="remove-link" 
                href="@Url.Content("~/Authors/RemoveRelationship/")?authorId=@Model.Id&realtedId=@character.Id">[Remove]</a></li>
        }
    </ul>
    @Html.EditDataField("Add Character", Html.DropDownList("ddlAddCharacter", Model.CharacterAssoiationOptions))
</div>
