@using RavenDesk.MVC.Helpers;
@using RavenDesk.Core.Models.Interfaces;

@model PageableSearchResults<IAuthor>
@{Layout = null;}

<script type="text/javascript">
    $(function() {
        //View Detail Popup
        $("#author-grid .data-row").click(function() {
            Wait(true);
            var id = $(this).attr("data-RavenDesk-id");
            $.get('@Url.Content("~/Authors/Edit/")', { aId: id }, function(data) {
                $("#PopUp").html(data);
                Wait(false);
            });
        });
    });
</script>

<table id="author-grid" class="datagrid">
    <tr class="header_row">
        <td>Last Name</td>
        <td>First Name</td>
        <td>E-Mail Address</td>
        <td>Home Town</td>
        <td>Still Alive</td>
    </tr>
    @foreach (var author in Model.Items)
    {
        <tr class="data-row hoverable" data-RavenDesk-id="@author.Id">
            <td>@author.LastName</td>
            <td>@author.FirstName</td>
            <td>@author.EmailAddress</td>
            <td>@author.HomeTown</td>
            <td>@author.Alive</td>
        </tr>
    }
</table>
@Model.GeneratePager("ReloadGrid")